<footer class="cf-footer">
    <div class="cf-container cf-footer-inner">

        <div class="cf-footer-left">
            <div class="cf-logo-wrap">
                <span class="cf-logo-dot"></span>
                <span class="cf-logo-text">CoreFitness</span>
            </div>

            <p class="cf-footer-text">
                Our supportive and knowledgeable trainers work with members to provide encouragement.
            </p>

            <p class="cf-footer-text-small">
                Stockholm, Sweden
            </p>
        </div>

        <div class="cf-footer-right">
            <h4>Opening Hours</h4>
            <p>Mon - Fri: 06:00 - 22:00</p>
            <p>Sat: 08:00 - 20:00</p>
            <p>Sun: 08:00 - 18:00</p>
        </div>

    </div>

    <div class="cf-footer-bottom">
        © 2026 CoreFitness. All rights reserved.
    </div>
</footer>