<footer class="cf-footer">
    <div class="cf-container cf-footer-inner">

        <div class="cf-footer-left">
            <div class="cf-logo-wrap">
                <img src="~/images/logotype.png" alt="CoreFitness logo" class="cf-logo-image" />
                
            </div>

            <p class="cf-footer-text">
                Our supportive and knowledgeable trainers work with members to provide encouragement.
            </p>

            <div class="cf-footer-map-wrap">
                <img src="~/images/footer-location-map-image.png" alt="Location map" class="cf-footer-map-image" />
            </div>

            <p class="cf-footer-text-small">
                Stockholm, Sweden
            </p>
        </div>

        <div class="cf-footer-right">
            <h4>Empowering Your Fitness Journey with Expert Training and Lasting Results</h4>
            <p>Working Hours</p>
            <p>Mon - Fri: 06:00 - 22:00</p>
            <p>Sat: 08:00 - 20:00</p>
            <p>Sun: 08:00 - 18:00</p>
        </div>

    </div>

    <div class="cf-footer-bottom">
        © 2026 CoreFitness. All rights reserved.
    </div>
</footer>