<header class="cf-header">
    <div class="cf-container cf-header-inner">
        <a asp-controller="Home" asp-action="Index" class="cf-logo">CoreFitness</a>

        <nav class="cf-nav">
            <a asp-controller="Home" asp-action="Index" class="cf-nav-link">Home</a>
            <a asp-controller="Memberships" asp-action="Index" class="cf-nav-link">Memberships</a>
            <a asp-controller="Training" asp-action="Index" class="cf-nav-link">Training</a>
            <a asp-controller="CustomerService" asp-action="Index" class="cf-nav-link">Customer Service</a>
            <a asp-controller="MyAccount" asp-action="Index" class="cf-nav-link">My Account</a>
        </nav>
    </div>
</header>