@{
    ViewData["Title"] = "Memberships";
}

<section class="cf-page">
    <div class="cf-container">
        <h1 class="cf-page-title">Memberships</h1>
        <p class="cf-page-text">Membership page.</p>
    </div>
</section>